body {
    font-family: Arial, sans-serif;
    background-color: #20232a;
    color: #61dafb;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
}

#menu {
    margin-top: 20px;
}

input, button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #282c34;
    color: #61dafb;
    cursor: pointer;
}

button:hover {
    background-color: #3b4049;
}

#game-container {
    margin: 20px auto;
    width: 800px;
    height: 600px;
    background-color: #000;
    border: solid 1px #61dafb;
}

#room-list-container {
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}

#room-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.room-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #282c34;
    color: #61dafb;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.room-item:hover {
    background-color: #3b4049;
}

.room-item.selected {
    background-color: #61dafb;
    color: #282c34;
}

.hidden {
    display: none;
}

#game {
    display: none;
}

#chat {
    border: solid 1px #61dafb;
    border-radius: 5px;
    width: 350px;
    height: 600px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-word;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#divider {
    border: solid 1px #61dafb;
}

#chat-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
}

.messageUser {
    font-weight: bold;
}

.chatMessage {
    margin-top: 10px;
    margin-bottom: 10px;
}