.game {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}

.game-chat-container,
.game-info-container {
    width: 300px;
    box-sizing: border-box;
}

.game-play-container {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
