/* gameinfo.css */

.game-info {
    border: 1px solid #61dafb;
    border-radius: 8px;
    padding: 10px;
    background-color: #20232a; 
    color: #61dafb;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    color: #ffffff;
    word-wrap: break-word;
    word-break: break-word;
}